/* HomePageCSS */

.home-header{
  background-color: #2874f0;
  position: fixed;
  display:grid;
  width: 100vw;
  height: 60px;
  display:flex;
  box-shadow: 0px 5px 5px rgb(177, 175, 175);
}
.header-search-cont{
  display: flex;
  width: 30%;
  margin-left: 20%;
}
.header-search{
  width: 90%;
  height: 30px;
  border: none;
  outline: none;
  border-radius:3px 0px 0px 3px ;
  margin-top: 15px;
  padding-left: 10px;
}

.header-search-cont>p{
  background-color: rgb(255, 255, 255);
  width: 10%;
  height: 32px;
  position:relative;
  display: grid;
  align-items: center;
  justify-content: center;
  bottom: 1px;
  border-radius: 0px 3px 3px 0px ;
  overflow: hidden;
}
.login-btn{
  width: 7%;
  margin-left: 40px;
}
.login-btn>.login-txt{
  text-decoration: none;
  color:#2874f0 ;
  font-weight: 400;
  background-color: white;
  height: 30px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 3px;
  margin-top: 15px;
}
.login-btn>.cart{
  display: flex;
}
.login-btn>.cart>i{
  position: relative;
  top:2px;
  left: 8px;
}
.cart-left{
  position: relative;
  right: 50px;
}
.login-tooltip{
  background-color:white;
  border-radius: 5px;
  display: grid;
  width: 230px;
  position: relative;
  top:17px;
  right: 50px;
  visibility: hidden;
}
#log-bt:hover > .login-tooltip{
  visibility: visible;
}
.log-tip-nav{
  padding: 10px;
  text-decoration: none;
  color: black;
  border-bottom:1px solid rgba(141, 141, 141, 0.63);

}
.log-tip-nav>span:last-child{
  color: #2874f0;
}
.log-tip-nav>span:last-child:hover{
  text-decoration:underline;
}
.log-tip-nav:not(.nav1):hover{
  background-color: #e0e0e0b7;
}
.nav1{
  display: flex;
  font-weight: 500;
  justify-content: space-between;
}
.nav4{
  border-bottom:none ;
}
.warn-msg{
  width: 82%;
  background-color: rgb(231, 233, 96);
  padding: 1%;
  margin-left: 8%;
  font-weight: 400;
  border-radius: 5px;
  overflow: hidden;
}
/* signin page  */

.signin-modal{
  width: 50%;
  margin-left: 25%;
  margin-top: 10vh;
  /* height: 80vh; */
  background-color: white;
}

.signin-container{
  display: flex;
  overflow-y: scroll;
}
.signin-div0{
  flex-basis: 40%;
  background-color: #2874f0; 

}
.signin-div0>h2{
  color: white;
  margin-top: 30px;
  margin-left: 15px;
}
.signin-div0>p{
  color: white;
  margin-left: 15px;
  width:70%;
  font-weight: 500;
}
.signin-div1{
  background-color:white;
  flex-basis: 60%;
  /* height: 80vh; */
  padding-bottom:30px ;
  text-align: center;
}
.signin-div2{
  padding-bottom: 15px;
}
.signin-div2:first-child{
  margin-top: 40px;
}
.signin-div2>input{
  width: 80%;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

.signin-div2>input:focus{
  border-bottom: 2px solid rgb(0, 81, 255);
}

.signin-div3{
  margin-top: 20px;
}

.signin-btn>button{
  margin-top: 30px;
  width: 82%;
  height: 40px;
  padding: 5px;
  border: 2px solid ;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #fb641b ;
  background-color: #fb641b;
  color: white;
}

.signin-div4{
  margin-top: 30px;

}
.sig-d4-nav{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #2874f0;
}

/* signup */

.signup-div3>button{
  margin-top: 20px;
  padding: 5px;
  width: 84%;
  height: 40px;
  border:none;
  font-size: 18px;
  font-weight: bold;
  background-color: #fb641b;
  color: white;
}

.signup-div4{
  margin-top: 40px;
  width: 84%;
  margin-left:8%;
}

.signup-nav{
  display: grid;
  align-items: center;
  width: 100%;
  height: 40px;
  border:none;
  font-size: 18px;
  font-weight: bold;
  background-color:white;
  color:#2874f0;
  text-decoration: none;
  box-shadow: 2px 2px 8px  rgba(0, 0, 0, 0.452);
}

/* Home body */
body{
  background-color: rgb(228, 228, 228);
}
.home-container{
  display: flex;
  
  /* height: 100vh; */
}
.home-container>div{
  margin-top: 70px;
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  justify-content: space-around;
}
.product-cont{
  flex-basis: 22%;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px 4px 3px rgb(126, 126, 126);
}
.product-cont>p:first-child{
  font-weight: bold;
  font-size: 23px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.product-cont>img{
   height: 200px;
   margin:10px 0px 10px 0px;
}
.rupee-cont{
  display:grid;
  text-align: start;
}
.rupee-cont>p{
  margin:0px 0px 5px 20px;
}
.fi-price{
  font-size: 17px;
  font-weight: bold;
}
.fi-price>i{
  font-size: 13px;
}
.pr-price{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);

}
.pr-price1{
  height: 21.333;
}
.pr-price1>span{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.pr-price>span:first-child{
   margin-right: 5px;
   text-decoration: line-through;
}
.pr-price>span:first-child>i{
  font-size: 11px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
}
.pr-price>span:last-child{
  color: rgba(0, 128, 0, 0.726);
}
.product-cont>p:last-child{
  width: 130px;
  height: 40px;
  background-color:#fb641b ;
  font-weight: bold;
  font-size: 20px;
  color: white;
  display:inline-block;
  text-align: center;
  border-radius: 5px;
  margin:10px 0px 20px 0px;
}
.product-cont>p:last-child>span{
  position: relative;
  top:6.6px;
}

/* HomePageHeaderLogin */
.hphl-cart{
  margin-left:25%;
}

.cg-icon{
  font-size: 20px;
  text-decoration: none;
  color:#2874f0 ;
  background-color: white;
  height: 30px;
  width:50% ;
  border-radius: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 3px;
  margin-top: 15px;
}